[submodule "gitlab-ci"]
	path = gitlab-ci
	url = https://gitlab.com/nofusscomputing/projects/gitlab-ci.git
	branch = master
[submodule "roles/git_configuration"]
	path = roles/git_configuration
	url = https://gitlab.com/nofusscomputing/projects/ansible/git_configuration.git
	branch = development
