[submodule "gitlab-ci"]
	path = gitlab-ci
	url = https://gitlab.com/nofusscomputing/projects/gitlab-ci.git
	branch = development
[submodule "roles/git_configuration"]
	path = git_configuration
	url = https://gitlab.com/nofusscomputing/projects/ansible/git_configuration.git
	branch = development
[submodule "docker_management"]
	path = docker_management
	url = https://gitlab.com/nofusscomputing/projects/ansible/docker_management.git
	branch = development
[submodule "common"]
	path = nfc_common
	url = https://gitlab.com/nofusscomputing/projects/ansible/common.git
	branch = development
[submodule "nfc_test"]
	path = nfc_test
	url = https://gitlab.com/nofusscomputing/projects/ansible/ansible_test.git
	branch = development
