{{ DIRECTORY_NGINX_LOGS }}/error*.log {
	daily
	missingok
	rotate 7
	postrotate
		docker restart {{ docker_container_name_nginx }}
	endscript
	compress
	delaycompress
	notifempty
}

{{ DIRECTORY_NGINX_LOGS }}/access*.log {
	daily
	missingok
	rotate 7
	postrotate
		docker restart {{ docker_container_name_nginx }}
	endscript
	compress
	delaycompress
	notifempty
}


