# common SSL settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    #ssl_ecdh_curve secp384r1:prime256v1;

    #HSTS
    add_header Strict-Transport-Security "max-age=63072000" always;
 
    # OCSP Stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    # verify trust of ocsp response using root and intermediate certs
    ssl_trusted_certificate /ssl-certs/public/letsencrypt-CA-chain.crt;


    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:!ECDHE-ECDSA-AES256-SHA384:!ECDHE-RSA-AES256-SHA384:!ECDHE-ECDSA-AES128-SHA256:!ECDHE-RSA-AES128-SHA256';



